@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CodingCore</h1>
    <p>Welcome user! Get started on the projects page :-) </p>
<p>
</p>

<ul>
    @foreach (var project in Model.SavedProjects)
    
    {
        <li>
            <a asp-page="/Project"
            asp-route="@project.ProjectID">@project.Title</a> </li>
    }
</ul>


</div>




    



